flows.json
[{"id":"7a20691a.b5e808","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f7dcbd7a.d958e","type":"ui_form","z":"7a20691a.b5e808","name":"","label":"","group":"282ad0ef.0b5e8","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["2d25342d.d6106c"]]},{"id":"2d25342d.d6106c","type":"function","z":"7a20691a.b5e808","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["c2d9764f.4547e8","b2578ad5.134468"]]},{"id":"26712eae.172022","type":"function","z":"7a20691a.b5e808","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["80e08b76.6b6108"]]},{"id":"c2d9764f.4547e8","type":"watson-conversation-v1","z":"7a20691a.b5e808","name":"Customer Care","workspaceid":"d72b04a7-48af-4168-9e98-64c415b8b343","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/11f3a857-40a4-4f37-960a-3fda548feb17","timeout":"","optout-learning":false,"x":480,"y":120,"wires":[["6dc5518.381b9b","26712eae.172022"]]},{"id":"b2578ad5.134468","type":"ui_text","z":"7a20691a.b5e808","group":"282ad0ef.0b5e8","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":330,"y":300,"wires":[]},{"id":"6dc5518.381b9b","type":"debug","z":"7a20691a.b5e808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":60,"wires":[]},{"id":"80e08b76.6b6108","type":"ui_text","z":"7a20691a.b5e808","group":"282ad0ef.0b5e8","order":3,"width":10,"height":8,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":860,"y":300,"wires":[]},{"id":"282ad0ef.0b5e8","type":"ui_group","z":"","name":"Chatbot","tab":"8f2f0ae6.645088","order":1,"disp":true,"width":10,"collapse":false},{"id":"8f2f0ae6.645088","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]